body {
    background-image: url(https://www.biography.com/.image/ar_16:9%2Cc_fill%2Ccs_srgb%2Cfl_progressive%2Cg_faces:center%2Cq_auto:good%2Cw_768/MTI4OTk1MTI0NTQwNjQyNTc4/the-office_keyart_70jpg.jpg);
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    
}
.container {
    background-color: beige;
    text-align: center;
}


.jumbotron {
    text-align: center;
}

.choice {
    border: 1px solid grey;
    padding: 12px;
    border-radius: 4px;
    cursor: pointer;
}